body {
    margin: 0;
    padding: 0;
  }
  
  #banner {
    background-image: url('../img/banner.jpg');
  background-size: cover;
  height: 30px;
  background-position: center;
  padding: 20px;
  text-align: center;
 background-image: url(../Imagenes/abstract-black-and-neon-green-modern-material-header-metallic-technology-banner-abstract-widescreen-background-vector\ \(1\).jpg);
  }
  
  #banner h1 {
    margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgb(31, 87, 11);
  }
  
  #banner2 {
    background-color:#313131;
    padding: 20px;
    text-align: center;
  }
  
  #banner2 nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #banner2 nav ul li {
    display: inline;
  margin: 0 50px;
  }
  
  #banner2 nav ul li a {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 30px; 
    color: #00f800;
    text-decoration: none;
    padding: 10px;
  }
  
  #banner2 nav ul li a:hover {
    background-color: #00FF00;
    color: #000;
  }
 
  .search-box {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
  }
  
  .search-box input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    width: 180px;
  }
  
  .search-box button {
    padding: 20px 20px;
  border: none;
  background-color: transparent; 
  background-image: url("../img/search-bar-flat-icon-free-png.png");
  background-repeat: no-repeat;
  background-size: cover; 
  color: transparent; 
  font-size: 0; 
  border-radius: 1%;
  cursor: pointer;
  }
  .and{
    display: flex;
    background-color: #62f28b;
  width: 100%; /* Ancho del div */
  height: 805px; 
  }

  .duv{
    flex: 1;
    padding: 10px;
    font-size: 14px;
  }

  .dex{
    flex: 1;
    padding-left: 750px;
    padding: 50px;
    font-size: 27px;
  }
  .button{
    background-color: #00FF00;
    width: 400px;
    height: 40px;
    font-size: 27px;
  }

  .hfour{
    padding-left: 323px;
  }

  .inpods{
    width: 400px;
    height: 30px;
    

  }

  .mini-buttons {
    display: flex;
    padding-left: 300px;
  }
  
  .mini-buttons a {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ffffff;
    text-decoration: none;
    color: #000000;
  }
  
  .mini-buttons a img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .claaaa{
    padding-left: 198px;
  }


  .dr
  {
    padding-left: 220px;
  }

  .daaav{
    display: flex;
    padding-right: 50px;
    padding-left: 500px;
    }
    
   
    .carousel {
        position: relative;
        width: 100%;
        height: 500px;
        overflow: hidden;
      }
      
      .carousel-inner {
        width: 100%;
        height: 100%;
        display: flex;
        transition: transform 0.3s ease-in-out;
      }
      
      .carousel-item {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
      }
      
      .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      .carousel-control {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        cursor: pointer;
        z-index: 1;
      }
      
      .carousel-control.prev {
        left: 10px;
      }
      
      .carousel-control.next {
        right: 10px;
      }
      
      .carousel-control:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
      }
      
      .carousel-item:first-child {
        order: 1;
      }
      
      .carousel-item:last-child {
        order: 3;
      }
      
      .carousel-item.active {
        order: 2;
      }
      
    .doov{
       
        background-color: #62f28b;
    }  
    
    .liv{
        padding-left: 1000px;
    }
    
    .dev{
      background-color: gray;
    }

    

    .doxon{
        text-align: center;
        display: flex;
width: 10px;
height: 10px;
border-image-width: 0px;
    }

    .duxun{

    }
    